Converting Data Types

In [5]:
num_int = 7
type(num_int)

int

In [4]:
num_str = '7'
type(num_str)

str

Converting String to Integer

In [7]:
num_str_conv = int(num_str) #converting str var -> int var 
type(num_str_conv)

int

In [8]:
num_sum = num_int + num_str_conv
print(num_sum)

14

Converting Lists , Sets and Tuples

In [9]:
list_type = [1,2,3]
type(list_type)

list

In [ ]:
type(tuple(list_type)) # list -> Tuple

tuple

In [ ]:
list_type = [1,2,3,3,2,1,2,3,2,1]

list

In [ ]:
type (set(list_type))  #list -> Set
print(set (list_type))

{1, 2, 3}

In [16]:
dict_type = {'name': 'Aman','age': 22, 'hair': 'N/A'}
type(dict_type)

dict

In [17]:
dict_type.items()

dict_items([('name', 'Aman'), ('age', 22), ('hair', 'N/A')])

In [18]:
dict_type.values()

dict_values(['Aman', 22, 'N/A'])

In [22]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [ ]:
list(dict_type.keys()) # dictionary -> List

['name', 'age', 'hair']

In [27]:
type(list(dict_type.keys()))

list

In [29]:
list(dict_type.values())

['Aman', 22, 'N/A']

In [30]:
long_str = "I like to play terraria"
list(long_str)

['I',
 ' ',
 'l',
 'i',
 'k',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'p',
 'l',
 'a',
 'y',
 ' ',
 't',
 'e',
 'r',
 'r',
 'a',
 'r',
 'i',
 'a']